// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


$primary   = #e32b02
$secondary = #fa6666
$accent    = #9C27B0

$positive  = #58ed7b
$negative  = #C10015
$info      = #6272fc
$warning   = #facd50